<h2><%=  t('user.change_account') %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch }) do |f| %>
  <%= f.text_field :email, label: 'Email', autofocus: true %>
  <div class="form-group">
    <%= f.password_field :password, label: t('user.password'), autocomplete: 'off', class: 'form-control' %>
    <small class="form-text text-muted">
      <%= t('user.leave_password_blank') %><%= t('user.password_length', lenght: @minimum_password_length) if @minimum_password_length %>
    </small>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, label: t('user.password_confirmation'), autocomplete: 'off', class: 'form-control' %>
    <small class="form-text text-muted"><%= t('user.leave_password_blank') %></small>
  </div>
  <div class="form-group">
    <%= f.password_field :current_password, label: t('user.current_password'), autocomplete: 'off', class: 'form-control' %>
    <small class="form-text text-muted"><%= t('user.password_needed') %></small>
  </div>

  <div class="form-group">
    <%= f.submit  t('user.update_account'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('expense.back'), expenses_path, class: 'btn btn-link' %>
