<%= bootstrap_form_tag(url: expenses_path, method: :get) do |f| %>
  <div class='row'>
    <div class='col-sm'>
      <%= f.date_field :start_date,
                       label: t('expense.start_date'),
                       value: (params[:start_date] || Expense.minimum(:purchesed_on)) %>
    </div>
    <div class='col-sm'>
      <%= f.date_field :end_date, label: t('expense.end_date'), value: (params[:end_date] || Date.today) %>
    </div>
    <div class='col-sm'>
      <%= f.select('category',
      options_from_collection_for_select(Category.all, "id", "long_name_#{I18n.locale}", params[:category]),
      {include_blank: true, label: t('expense.category')},
      wrapper: { class: 'category_select'}, name: 'category') %>
    </div>
  </div>
  <%= f.button t('expense.apply_filter'), type: 'submit', class: 'btn btn-primary', name: nil %>
  <%= link_to t('expense.clear_filter'), expenses_path, class: 'btn btn-warning' %>
<% end %>
