<%= filter_nav_bar do %>
  <%= filter_links t('expense.short_form.all'), expenses_path(show: 'all') %>
  <% Expense::CATEGORIES.each do |key, value| %>
    <%= filter_links t("expense.short_form.#{key}"), expenses_path(category: key) %>
  <% end %>
<% end %>

<hr>

<%= render 'display_table', expenses: @expenses %>

<div class='hidden-sm-down'>
<%= will_paginate @expenses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<div class='hidden-md-up'>
<%= will_paginate @expenses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, page_links: false %>
</div>
