= bootstrap_form_tag(url: monthly_expenses_path, method: :get) do |f|
  = f.select('date_list',
    Expense.month_list_as_array,
    {include_blank: true, label: t('expense.overview_month_select')},
    wrapper: { class: 'category_select'})

- intake = Expense.intake_with_date(given_month, current_organization).sum(:amount)
- outgoings = Expense.outgoings_with_date(given_month, current_organization).sum(:amount)

%h1
  = t('expense.month_overview')
  %small.text-muted
    = l(Date.strptime(given_month, '%Y%m'), format: '%B')
    = Date.strptime(given_month, '%Y%m').year

=# react_component("Overview")
-# = react_component('Donut', props: { donutDataUrl: api_v1_charts_by_month_path(given_date: given_month) })

-# = react_component('Overview', props: { overviewDataUrl: in_out_api_v1_expenses_path(given_date: given_month) })