<% content_for :charts do %>
  <%= javascript_include_tag 'charts/d3', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'charts/c3', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'charts/c3_config_de', 'data-turbolinks-track': 'reload' %>
<% end %>

<script>
  $(document).ready(function(){
    var expense_given_month = c3.generate({
      size: {
        height: 400
      },
      bindto: '#expense_given_month',
      data: {
        url: '<%= charts_by_month_path(given_date: given_date) %>',
        mimeType: 'json',
        type: 'donut',
      },
      tooltip: {
        format: {
           value: function(value, ratio, id) {
             return d3locale.numberFormat('$,.2f')(value);
           }
        }
      }
    });
  });
</script>

<%= bootstrap_form_tag(url: monthly_expenses_path, method: :get) do |f| %>
  <%= f.select('date_list',
               Expense.date_list_array,
               {include_blank: true, label: t('expense.overview_moth_select')},
               wrapper: { class: 'category_select'}) %>
<% end %>

<hr>

<% intake = Expense.intake_with_date(given_date, current_organization).sum(:amount) %>
<% outgoings = Expense.outgoings_with_date(given_date, current_organization).sum(:amount) %>

<h1>
  <%= t('expense.month_overview') %>
  <small class="text-muted">
    <%= l(Date.strptime(given_date, '%Y%m'), format: '%B') %> <%= Date.strptime(given_date, '%Y%m').year %>
  </small>
</h1>
<div id='expense_given_month' class='chart'><div class='loading'>Loading....</div></div>

<div class='row intake'>
  <div class="col-md">
    <h3>
      <%= t('expense.intake') %>:
      <small class="text-muted">
        <%= number_to_currency intake %>
      </small>
    </h3>
  </div>
  <div class="col-md">
    <h3>
      <%= t('expense.outgoings') %>:
      <small class="text-muted">
        <%= number_to_currency outgoings %>
      </small>
    </h3>
  </div>
  <div class="col-md">
    <h3>
      <%= t('expense.difference') %>:
      <%= color_value(intake - outgoings) %>
    </h3>
  </div>
</div>
