- content_for :charts do
  = javascript_include_tag 'charts/d3', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'charts/c3', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'charts/c3_config_de', 'data-turbolinks-track': 'reload'
:javascript
  $(document).ready(function(){
    var expense_given_month = c3.generate({
      size: {
        height: 400
      },
      bindto: '#expense_given_month',
      data: {
        url: '#{api_v1_charts_by_month_path(given_date: given_month)}',
        mimeType: 'json',
        type: 'donut',
      },
      tooltip: {
        format: {
          value: function(value, ratio, id) {
            return d3locale.numberFormat('$,.2f')(value);
          }
        }
      }
    });
  });
= bootstrap_form_tag(url: monthly_expenses_path, method: :get) do |f|
  = f.select('date_list',
    Expense.month_list_as_array,
    {include_blank: true, label: t('expense.overview_month_select')},
    wrapper: { class: 'category_select'})

- intake = Expense.intake_with_date(given_month, current_organization).sum(:amount)
- outgoings = Expense.outgoings_with_date(given_month, current_organization).sum(:amount)

%h1
  = t('expense.month_overview')
  %small.text-muted
    = l(Date.strptime(given_month, '%Y%m'), format: '%B')
    = Date.strptime(given_month, '%Y%m').year
#expense_given_month.chart
  .loading Loading....
.row.intake
  .col-md
    %h3
      = t('expense.intake')
      \:
      %small.text-muted
        = number_to_currency intake
  .col-md
    %h3
      = t('expense.outgoings')
      \:
      %small.text-muted
        = number_to_currency outgoings
  .col-md
    %h3
      = t('expense.difference')
      \:
      \#{color_value(intake - outgoings)}
