<% content_for :charts do %>
  <%= javascript_include_tag 'charts/loader', 'data-turbolinks-track': 'reload' %>
<% end %>

<script>
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var expense_data = google.visualization.arrayToDataTable([
      ['Category', 'Expenses'],
      <% Expense.given_month_for_organization_with_intake(current_organization, given_month, given_year)
                .group(:category)
                .sum(:amount)
                .each do |category, amount| %>
        ['<%= category_long_name(category) %>', <%= amount %>],
      <% end %>
    ]);

    var intake_data = google.visualization.arrayToDataTable([
      ['Nature_of_transfer', 'Amount', { role: 'style' }],
      ['<%= t('expense.intake') %>',
        <%= intake = Expense.given_month_for_organization_with_intake(current_organization,
                                                             given_month,
                                                             given_year,
                                                             true).sum(:amount) %>,
        '#5cb85c'],
      ['<%= t('expense.amount') %>',
        <%= outtake = Expense.given_month_for_organization_with_intake(current_organization,
                                                             given_month,
                                                             given_year,
                                                             false).sum(:amount) %>,
        '#d9534f']
    ]);

    var year_overview = google.visualization.arrayToDataTable(
        <%= raw Expense.generate_linechart_from_sql(current_organization) %>
    );

    var formatter = new google.visualization.NumberFormat({suffix: '€',
                                                           decimalSymbol: ',',
                                                           groupingSymbol: '.'});
    formatter.format(expense_data, 1); // Apply formatter to second column
    formatter.format(intake_data, 1); // Apply formatter to second column
    <% (1..Category.count).each do |index| %>
    formatter.format(year_overview, <%= index %>);
    <% end %>

    var expense_options = {
      pieHole: 0.4,
      pieSliceText: 'percentage',
      height: 400,
      sliceVisibilityThreshold: .05,
      legend: {
        position: 'bottom'
      }
    };

    var intake_options = {
      bars: 'horizontal',
      legend: { position: "none" },
      height: 240,
      title: '<%= t('expense.difference') %>: <%= number_to_currency((intake - outtake), locale: :de) %>',
    };

    var year_options = {
      height: 500,
      selectionMode: 'multiple',
      vAxis: {
        format: '#.### €'
      }
    }

    var chart = new google.visualization.PieChart(document.getElementById('expense_given_month'));
    chart.draw(expense_data, expense_options);

    var chart_2 = new google.visualization.BarChart(document.getElementById('intake_given_month'));
    chart_2.draw(intake_data, intake_options);

    var chart_3 = new google.visualization.LineChart(document.getElementById('year_overview'));
    chart_3.draw(year_overview, year_options);
  }

  $(window).resize(function(){
    drawChart();
  });
</script>

<%= bootstrap_form_tag(url: overview_expenses_path, method: :get) do |f| %>
  <%= f.select('date_list',
               Expense.date_list,
               {include_blank: true, label: t('expense.overview_moth_select')},
               wrapper: { class: 'category_select'}) %>
<% end %>

<hr>

<h1>
  <%= t('expense.month_overview') %>
  <small class="text-muted">
    <%= l(DateTime.parse(Date::MONTHNAMES[given_month.to_i]), format: '%B') %> <%= given_year %>
  </small>
</h1>
<div id='expense_given_month' class='chart'><div class='loading'>Loading....</div></div>
<div id='intake_given_month' class='chart'><div class='loading'>Loading....</div></div>
<div id='year_overview' class='chart hidden-sm-down'><div class='loading'>Loading....</div></div>
