<script>
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var expense_data = google.visualization.arrayToDataTable([
      ['Category', 'Expenses'],
      <% Expense.given_month_for_group_with_intake(current_group, given_month, given_year).group(:category).sum(:amount).each do |category, amount| %>
        ['<%= category_name(category) %>', <%= amount %>],
      <% end %>
    ]);

    var intake_data = google.visualization.arrayToDataTable([
      ['Nature_of_transfer', 'Amount', { role: 'style' }],
      ['<%= I18n.t('expense.intake') %>',
        <%= Expense.given_month_for_group_with_intake(current_group, given_month, given_year, true).sum(:amount) %>,
        '#5cb85c'],
      ['<%= I18n.t('expense.amount') %>',
        <%= Expense.given_month_for_group_with_intake(current_group, given_month, given_year, false).sum(:amount) %>,
        '#d9534f']
    ]);

    var formatter = new google.visualization.NumberFormat({suffix: '€',
                                                           decimalSymbol: ',',
                                                           groupingSymbol: '.'});
    formatter.format(expense_data, 1); // Apply formatter to second column
    formatter.format(intake_data, 1); // Apply formatter to second column

    var expense_options = {
      pieHole: 0.4,
      pieSliceText: 'percentage',
      height: 400,
      sliceVisibilityThreshold: .05,
      legend: {
        position: 'bottom'
      }
    };

    var intake_options = {
      bars: 'horizontal',
      legend: { position: "none" },
      height: 240,
    };

    var chart = new google.visualization.PieChart(document.getElementById('expense_given_month'));
    chart.draw(expense_data, expense_options);

    var chart_2 = new google.visualization.BarChart(document.getElementById('intake_given_month'));
    chart_2.draw(intake_data, intake_options);
  }

  $(window).resize(function(){
    drawChart();
  });
</script>

<%= filter_nav_bar do %>
  <%= filter_links "#{l(DateTime.parse(Date::MONTHNAMES[2.month.ago.month]), format: "%B")} #{2.month.ago.year}", overview_expenses_path(month: 2.month.ago.month, year: 2.month.ago.year) if Expense.given_month(2.month.ago.month, 2.month.ago.year, current_group).any? %>
  <%= filter_links t("expense.previous_month"), overview_expenses_path(month: 1.month.ago.month, year: 1.month.ago.year) if Expense.given_month(1.month.ago.month, 1.month.ago.year, current_group).any? %>
  <%= filter_links t("expense.current_month"), overview_expenses_path(month: Date.today.month, year: Date.today.year) %>
<% end %>

<hr>

<h1>
  <%= t('expense.overview') %>
  <small class="text-muted">
    <%= l(DateTime.parse(Date::MONTHNAMES[given_month.to_i]), format: "%B") %> <%= given_year %>
  </small>
</h1>
<div id='expense_given_month' class='chart'></div>
<div id='intake_given_month' class='chart'></div>
