- content_for :charts do
  = javascript_include_tag 'charts', 'data-turbolinks-track': 'reload'
:javascript
  document.addEventListener('turbolinks:load', function() {
    var year_categories = c3.generate({
      bindto: '#year_categories',
      data: {
        x: 'months_line',
        url: '#{api_v1_charts_linechart_by_year_path(given_date: given_year)}',
        mimeType: 'json',
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: d3locale.timeFormat('%B %Y')
          }
        },
        y: {
          min: 10,
          tick: {
            format: d3locale.numberFormat("$,.2f")
          }
        }
      }
    })

    var year_sums = c3.generate({
      bindto: '#year_sums',
      data: {
        x: 'months_bar',
        url: '#{api_v1_charts_barchart_by_year_path(given_date: given_year)}',
        mimeType: 'json',
        type: 'bar'
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: d3locale.timeFormat('%B %Y')
          }
        },
        y: {
          tick: {
            format: d3locale.numberFormat("$,.2f")
          }
        }
      }
    })
  });
= bootstrap_form_tag(url: annual_expenses_path, method: :get) do |f|
  = f.select('date_list',
    Expense.year_list_as_array,
    {include_blank: true, label: t('expense.overview_year_select')},
    wrapper: { class: 'category_select'})
%h1
  = t('expense.year_overview')
  %small.text-muted
    = given_year
#year_categories.chart
  .loading Loading....
#year_sums.chart
  .loading Loading....
