<div class="header clearfix">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <% if user_signed_in? %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% end %>
    <%= link_to 'expenses', root_path, class: 'navbar-brand'%>
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <%= nav_bar do %>
        <%= nav_link t('expense.index'), expenses_path %>
        <%= nav_link t('expense.month_overview'), monthly_expenses_path(month: given_month, year: given_year) %>
        <%= nav_link t('expense.year_overview'), annual_expenses_path, 'hidden-sm-down' %>
        <li class="nav-item dropdown">
          <%= link_to 'Account', '#', class: 'nav-link dropdown-toggle', id: 'navbarDropdownMenuLink', data: {toggle: 'dropdown'},  'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            <%= link_to t('user.change_account'), edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to t('expense.sign_out'), logout_path, class: 'dropdown-item' %>
          </div>
        </li>
      <% end %>
    </div>
    <% end %>
  </nav>
</div>
