%link{href: "#{asset_pack_path('media/images/apple-touch-icon.png')}", sizes: "180x180", rel: 'apple-touch-icon'}
%link{href: "#{asset_pack_path('media/images/favicon-32x32.png')}", sizes: "32x32", rel: 'icon', type: 'image/png'}
%link{href: "#{asset_pack_path('media/images/favicon-16x16.png')}", sizes: "16x16", rel: 'icon', type: 'image/png'}
-# %link{href: "#{asset_pack_path('media/images/manifest.json')}", rel: 'manifest'}
%link{href: "#{asset_pack_path('media/images/safari-pinned-tab.svg')}", rel: 'mask-icon', color: '#5bbad5'}
%meta{content: "#ffffff", name: "theme-color"}
