<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= render 'layouts/fav_icon' %>

    <title>Expenses</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/env' unless Rails.env.production? %>
      <%= render 'layouts/header' %>
      <% flash.each do |type, msg| %>
        <%= set_alert_massage(type, msg) %>
      <% end %>

      <%= yield %>

      <footer class="footer">
        <p>&copy; skrynski.com 2017</p>
      </footer>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
