!!!
%html{:lang => "de"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    =# render 'layouts/fav_icon'
    %title Expenses
    = csrf_meta_tags
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .container
      = render 'layouts/env' unless Rails.env.production?
      = render 'layouts/app_header'
      - flash.each do |type, msg|
        = set_alert_massage(type, msg)
      = yield
      = react_component('Footer')